

.main-content {
    width: 100%;
}

h1 {
    font-size: calc(60px + (85 - 28) * ((100vw - 300px) / (2000 - 300)));
    line-height: calc(50px + (92 - 36) * ((100vw - 300px) / (2000 - 300)));
}

h2 {
    font-size: calc(24px + (54 - 24) * ((100vw - 300px) / (2000 - 300)));
    line-height: calc(32px + (62 - 32) * ((100vw - 300px) / (2000 - 300)));
}

h3 {
    font-size: calc(18px + (36 - 18) * ((100vw - 300px) / (2000 - 300)));
    line-height: calc(24px + (42 - 24) * ((100vw - 300px) / (2000 - 300)));
}

h4 {
    font-size: calc(16px + (24 - 15) * ((100vw - 300px) / (2000 - 300)));
    line-height: calc(22px + (32 - 24) * ((100vw - 300px) / (2000 - 300)));
}

h5 {
    font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (2000 - 300)));
    line-height: calc(20px + (22 - 20) * ((100vw - 300px) / (2000 - 300)));
}

h6 {
    font-size: calc(16px + (18 - 16) * ((100vw - 800px) / (2000 - 800)));
    line-height: calc(20px + (24 - 20) * ((100vw - 800px) / (2000 - 800)));
}

@media screen and (max-width: 800px) {
    h1 {
        font-size: calc(35px + (85 - 28) * ((100vw - 300px) / (2000 - 300)));
        line-height: calc(35px + (92 - 36) * ((100vw - 300px) / (2000 - 300)));
    }

    h2 {
        font-size: calc(21px + (54 - 24) * ((100vw - 300px) / (2000 - 300)));
        line-height: calc(27px + (62 - 32) * ((100vw - 300px) / (2000 - 300)));
    }

    h3 {
        font-size: calc(18px + (36 - 18) * ((100vw - 300px) / (2000 - 300)));
        line-height: calc(23px + (42 - 24) * ((100vw - 300px) / (2000 - 300)));
    }

    h4 {
        font-size: calc(17px + (24 - 15) * ((100vw - 300px) / (2000 - 300)));
        line-height: calc(22px + (32 - 24) * ((100vw - 300px) / (2000 - 300)));
    }

    h5 {
        font-size: calc(16px + (18 - 14) * ((100vw - 300px) / (2000 - 300)));
        line-height: calc(20px + (22 - 20) * ((100vw - 300px) / (2000 - 300)));
    }

    h6 {
        font-size: calc(15px + (18 - 16) * ((100vw - 800px) / (2000 - 800)));
        line-height: calc(20px + (24 - 20) * ((100vw - 800px) / (2000 - 800)));
    }
}

p{
    font-size: calc(14px + (24 - 15) * ((100vw - 300px) / (2000 - 300)));
}

/* navigation */

.nav-item-container {
    width: fit-content;
}

.nav-item-container ul li {
    list-style: none;
    margin-bottom: 0.3em;
}

.nav-item-container ul li:first-child {
    background-color: grey;
}

.nav-item-container ul li:nth-child(2) {
    background-color: #fcb603;
}

.nav-item-container ul li:nth-child(3) {
    background-color: #28a745;
}

.nav-item-container ul li:nth-child(4) {
    background-color: #e6e600;
}

.nav-item-container ul li:nth-child(5) {
    background-color: #cc0099;
}

.nav-item-container ul li:nth-child(6) {
    background-color: #000099;
}

.nav-item-container ul li a {
    text-decoration: none;
    color: aliceblue;
    padding: 1em;
    font-size: x-large;
}

/* main container */
.main-content {
    width: 70%;
    margin: 0 auto;
    margin-top: 12em;

    /*
    -webkit-box-shadow: #666 0px 0px 20px;
    -moz-box-shadow: #666 0px 0px 20px;
    box-shadow: #666 0px 0px 20px;

     */
    opacity: 0.99999;
}

.main-content {

}

.quizz-container {
    position: relative;
}

.red-container {
    text-align: center;
    clip-path: polygon(0 9%, 100% 0%, 100% 100%, 0 88%);
    background-color: #C5003E;
    width: 50%;
    padding-top: calc(12% - 20px);
    padding-bottom:  calc(12% - 20px);
    margin: 0 auto;
    height: calc(100% - 100px);

}

.red-container h1 {
    color: aliceblue;
}

.red-container p {
    color: black;
    font-weight: 400;
    font-size: xx-large;
}

.gray-container {
    display: flex;
    width: 35%;
    padding: 2em;
    background-color: #E2E3E7;
    clip-path: polygon(0% -1%, 78% 21%, 100% 28%, 87% 69%, 0% 93%);
    position: absolute;
    left: 40%;
    top: 91%;
    transform: skewY(0deg);
    z-index: -1;

}
.gray-container div {
    align-self: center;
}
.gray-container img {
    width: 53px;
}

.gray-container p {
    vertical-align: middle;
    font-size: xxx-large;
    margin-left: 0.5em;
    font-weight: 500;
}
.gray-container a {
    text-decoration: none;
    color: black;
}

/* footer */

.footer-links{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.footer-links div {
    margin-right: 2em;
}
.footer-links a {
    color: black;
    text-decoration: none;
    font-size: xx-large;
}
.footer-links a span{
    font-weight: 500;
}




/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .logo img {
        width: 7em;
    }
    .footer-links{
        flex-direction: column;
        text-align: center;
    }
    .footer-links div{
        margin: 0 auto;
    }
    .gray-container{
        padding: 0;
        width: 41%;
        left: 32%;
        top: 89%;
    }
    .gray-container p{
        font-size: 1.5em;
        padding-top: 0.6em;
    }
    .gray-container img {
        width: 2.5em;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .gray-container{
        left: 34%;
        padding: 0;
        width: 39%;
        top: 90%;
    }
    .gray-container p{
        font-size: 1.8em;
        padding-top: 0.6em;
        padding-bottom: 0.2em;
    }
    .gray-container img {
        width: 2.2em;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .gray-container {
        display: flex;
        width: 40%;
        padding: 0.3em;
        clip-path: polygon(0% -1%, 78% 21%, 100% 28%, 87% 69%, 0% 93%);
        position: absolute;
        left: 34%;
        top: 82%;
    }
    .gray-container p{
        font-size: 2.5em;
    }
    .gray-container img {
        width: 2.7em;
        margin-bottom: -0.3em;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .gray-container {
    display: flex;
    width: 35%;
    padding: 0.3em;
    background-color: #E2E3E7;
    clip-path: polygon(0% -1%, 78% 21%, 100% 28%, 87% 69%, 0% 93%);
    position: absolute;
    left: 38%;
    top: 86%;
    transform: skewY(0deg);
    z-index: -1;
}
    .gray-container p{
        margin-left: 0.2em;
    }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .gray-container {
        width: 35%;
        position: absolute;
        left: 40%;
        top: 89%;
    }
    .gray-container p{
        margin-left: 0.5em;
        font-size: 3em;
        padding-bottom: 0.3em;
    }
    .gray-container img{
        width: 4em;
    }
}